USERS_GRPC_URL=
CONVERSATIONS_GRPC_URL=
AGENTS_GRPC_URL=

AUTH0_DOMAIN=
AUTH0_AUDIENCE=

GRPC_CA_CERT=../../infra/certs/ca.crt
GRPC_CLIENT_KEY=../../infra/certs/bff-client.key
GRPC_CLIENT_CERT=../../infra/certs/bff-client.crt